server/dist
server/node_modules
server/package-lock.json
server/tsconfig.build.json

server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

client/node_modules
client/package-lock.json
client/pnp
client/pnp.js
client/src/Components/Deneme.tsx


.DS_Store

